html {
  scroll-behavior: smooth;
}

.loader_bg{
  position: fixed;
  z-index:999999;
  background-color: #000;
  width: 100%;
overflow: hidden;
}
section{
  overflow: hidden;
}
.loader{
  border:0 solid transparent;
  border-radius: 50%;
  width: 160px;
  height: 160px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader::before,.loader:after{
  content:'';
  border: 1em solid red;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top:0;
  left:0;
  animation:loader 2s linear infinite;
  opacity: 0;
}
  .loader:before{
    animation-delay: .5s;

}
@keyframes loader{
  0%{
    transform :scale(0);
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.loader-header{
  min-height: 110vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Darker Grotesque", sans-serif;

}
.loader-header h1{
  font-size: 30px;
  font-weight: bold;
}
#mug_m{
  color: orange;
}
#mug_u{
  color: olive;
}
#mug_g{
  color: blueviolet;
}
#mug_s{
  color:chartreuse;
}
.animate__animated.animate__zoomIn{
  --animate-duration: 3s;
  animation-delay: 0.5s;
}
.animate__animated .animate__flipInY{
  --animation-duration:3s;
 animation-delay: 0.5s; 
}

.animate__animated .animate__lightSpeedInRight{
  --animate-duration: 3s;
  animation-delay: 0.5s;
}
/* sidenavbar css code */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  position: fixed;
  height: 120%;
  overflow: auto;
  font-size: 10px;
  top: 35%;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  
}
@media screen and (min-width: 320px) and (max-width: 600px){
.sidebar{
  display: none;
}
}
.hide {
  display: none;
  text-decoration: none;
}

.myDIV:hover + .hide {
  display: block;
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 600px){
  .hide {
    display:inline-block;
  }
      
  .myDIV:hover + .hide {
    display: none;
    color: white;
  }
}
span{
  text-decoration: none;
  
  
}
a:link { 
  text-decoration: underline; 
} 
a:hover { 
  text-decoration: none; 
} 
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a li {
  color: white;
  text-decoration: none;
  margin-bottom: -30px;
}
@media screen and (min-width: 320px) and (max-width: 600px){
.sidebar a li{
  margin-bottom: 0;
}
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    list-style: none;
    text-decoration: none;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* mobilenavbar */

.sidenavv {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: none;
}
.navspan{
  font-size:30px;
  cursor:pointer;
  display: none;
}
@media screen and (min-width: 320px) and (max-width: 600px){
  .navspan{
    display: block;
    background-attachment: fixed;

  }
  .sidenavv{
    display: block;
  }
}

.sidenavv a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenavv a:hover {
  color: #f1f1f1;
}

.sidenavv .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenavv {padding-top: 15px;}
  .sidenavv a {font-size: 18px;}
}


/* first section css */
.body-section {
  background-image: url("../img/first.jfif");
  background-attachment: fixed;
}

.App-header,
.App-subheader {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
}

.App-header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  text-transform: uppercase;
  margin-top: -40px;
}
.button-scrool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
}
.App-header p {
  font-family: "Sacramento", cursive;
  font-family: "Satisfy", cursive;
  font-style: italic;
  font-size: 17px;
}
.App-subheader p {
  font-size: 30px;
  font-size: none;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
  line-height: 1.6;
  text-transform: uppercase;
}
#mugs-color {
  color: aquamarine;
  text-transform: uppercase;
}
#concept-color {
  color: yellow;
}
#country-color {
  color: springgreen;
}
#provide-color {
  color: coral;
}
#product-color {
  color: red;
}
.scroll-down {
  color: white;
  text-emphasis: none;
}
.scroll-down a:hover {
  color: none;
}
.scrollme {
  position: fixed;
  width: 100%;
  display: inline-block;
  top: -10%;
}

#buttonscrool {
  font-size: 30px;
}



/* section section */
.section-section{
  background-image: url("../img/bg.png");
  /*transition: transform .5s; /* Animation */
  background-attachment: fixed;
  --animate-duration: 2s;
  --animate-delay: 0.5s;
}
.third-section{
  background-image: url('../img/color.gif');
  background-attachment: fixed;
  --animate-duration: 2s;
  --animate-delay: 0.5s;
  
}
.fourth-section{
  background-image: url("../img/fourth.png");
  background-attachment: fixed;
}

.first-Head  h1{
  color: rgb(67, 93, 151);
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin-top: 50px;
  
}


@media screen and (min-width: 320px) and (max-width: 600px){
  .mycarimg{
    height: 100px;
    width: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;


}}
@media screen and (min-width: 320px) and (max-width: 600px){
  .first-Head h1{
    font-size: 40px;
  }
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 5s;
}

.animate__animated.animate__rotateInUpLeft {
  --animate-duration: 5s;
}

.animate__animated.animate__slideInLeft{
--animate-duration: 5s;
}



